# Node.js
amadeus.frontend/node_modules/
amadeus.frontend/npm-debug.log*
amadeus.frontend/yarn-debug.log*
amadeus.frontend/yarn-error.log*

# Angular
amadeus.frontend/dist/
amadeus.frontend/tmp/
amadeus.frontend/out-tsc/
amadeus.frontend/.aot/
amadeus.frontend/.coverage/
amadeus.frontend/src/assets/*.json
amadeus.frontend/src/assets/*.ico
amadeus.frontend/src/assets/*.png
amadeus.frontend/src/assets/*.jpg
amadeus.frontend/src/assets/*.jpeg
amadeus.frontend/src/assets/*.gif

# Angular - Testing
amadeus.frontend/coverage/
amadeus.frontend/**/coverage/
amadeus.frontend/**/test-results/

# Environment Files
amadeus.frontend/.env
amadeus.frontend/*.env
amadeus.frontend/.env.*

# System Files
amadeus.frontend/.DS_Store
amadeus.frontend/Thumbs.db

# IDE Files
amadeus.frontend/.idea/
amadeus.frontend/*.suo
amadeus.frontend/*.ntvs*
amadeus.frontend/*.njsproj
amadeus.frontend/*.sln
amadeus.frontend/*.sw*

# macOS
amadeus.frontend/*.DS_Store

# Logs
amadeus.frontend/logs
amadeus.frontend/*.log

# Dependency directories
amadeus.frontend/node_modules/

# Optional npm cache directory
amadeus.frontend/.npm

# Angular specific
amadeus.frontend/.angular/cache/

# Windows
# Windows image file caches
amadeus.frontend/Thumbs.db
amadeus.frontend/Thumbs.db:encryptable
amadeus.frontend/ehthumbs.db
amadeus.frontend/ehthumbs_vista.db

# Folder config file
amadeus.frontend/Desktop.ini

# Recycle Bin used on file shares
amadeus.frontend/$RECYCLE.BIN/

# dotenv environment variables file
amadeus.frontend/.env

# Package Files
amadeus.frontend/*.tgz

# Visual Studio
amadeus.frontend/.vscode/
amadeus.frontend/.vscode/*

# User-specific files
amadeus.frontend/*.rsuser
amadeus.frontend/*.suo
amadeus.frontend/*.user
amadeus.frontend/*.userosscache
amadeus.frontend/*.sln.docstates

# Autogenerated files (add new entries here if needed)
amadeus.frontend/*.generated.cs
amadeus.frontend/*.generated.json

# User-specific files (Mono Auto Generated)
amadeus.frontend/mono_crash.*


# Entity Framework Core
#amadeus.backend/*.mdf
#amadeus.backend/*.ldf

# Entity Framework Core Migrations
amadeus.backend/src/Services/amadeus.backend.Auth/Migrations

# ASP.NET Runtime generated files
amadeus.backend/src/Services/amadeus.backend.Auth/Migrations
amadeus.backend/src/Services/amadeus.backend.Auth/bin
amadeus.backend/src/Services/amadeus.backend.Auth/obj

amadeus.backend/src/BuildingBlocks/BuildingBlocks/bin
amadeus.backend/src/BuildingBlocks/BuildingBlocks/obj

# StyleCop
StyleCopReport.xml


# .NET Core directories
project.lock.json
project.fragment.lock.json
artifacts/

# Backup & report files
*_i.c
*_p.c
*_l.c
*_s.c
*.pdb
