<div class="card px-6">
  <p-toast />
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p-button
        pRipple
        severity="contrast"
        label="Agregar"
        icon="pi pi-plus"
        class="mr-2"
        (click)="openNew()" />
    </ng-template>

  </p-toolbar>

  <p-table
    #dt
    [value]="products"
    [rows]="10"
    [paginator]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    (onPage)="pageChange($event)"
    dataKey="id"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Administrar productos</h5>
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                      pInputText
                      type="text"
                      (input)="findProductById()"
                      [(ngModel)]="productId"
                      placeholder="Buscar por identificador..." />
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name" style="min-width:15rem">
          Nombre <p-sortIcon field="name" />
        </th>
        <th pSortableColumn="price">
          Precio <p-sortIcon field="price" />
        </th>
        <th pSortableColumn="stockQuantity" style="min-width:10rem">
          Stock <p-sortIcon field="stockQuantity" />
        </th>
        <th pSortableColumn="barCode">
          BarCode <p-sortIcon field="barCode" />
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          {{ product.name }}
        </td>
        <td>
          {{ product.price | currency : 'USD' }}
        </td>
        <td [class]="getSeverityStock(product.stockQuantity)">
          {{ product.stockQuantity }}
        </td>
        <td>
          {{ product.barCode}}
        </td>
        <td>
          <p-button
            pRipple
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            (click)="editProduct(product)" />
          <p-button
            pRipple
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (click)="deleteProduct(product)" />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        En total hay {{ products ? products.length : 0 }} productos.
      </div>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="productDialog"
    [style]="{ width: '450px' }"
    [header]="headerMessage"
    [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">

      <div class="field">
        <label for="idproduct">Identificador</label>
        <input
          type="text"
          pInputText
          id="idproduct"
          [disabled]="true"
          [(ngModel)]="product.id"
          />
      </div>

      <div class="field">
        <label for="name">Nombre</label>
        <input
          type="text"
          pInputText
          id="name"
          [(ngModel)]="product.name"
          required
          autofocus />
        <small class="p-error" *ngIf="submitted && !product.name">
          Nombre es requerido.
        </small>
      </div>
      <div class="field">
        <label for="description">Descripción</label>
        <textarea
          id="description"
          pInputTextarea
          [(ngModel)]="product.description"
          required
          rows="3"
          cols="20">
        </textarea>
      </div>

      <div class="field">
        <label for="barcode">BarCode</label>
        <input
          type="text"
          pInputText
          id="barcode"
          [(ngModel)]="product.barCode"
          required
          autofocus />
        <small class="p-error" *ngIf="submitted && !product.barCode">
          El código de barras es requerido.
        </small>
      </div>

      <div class="field">
        <label>Fecha creación</label>
        <p-calendar
          [(ngModel)]="date"
          [iconDisplay]="'input'"
          [showIcon]="true"
          [disabled]="true"
          inputId="icondisplay"
          />
      </div>

      <div class="formgrid grid">
        <div class="field col">
          <label for="price">Precio</label>
          <p-inputNumber
            id="price"
            [(ngModel)]="product.price"
            mode="currency"
            currency="USD"
            locale="en-US" />
        </div>
        <div class="field col">
          <label for="quantity">Stock</label>
          <p-inputNumber
            id="quantity"
            [(ngModel)]="product.stockQuantity" />
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button
        pRipple
        label="Cancelar"
        icon="pi pi-times"
        severity="danger"
        [text]="true"
        (click)="hideDialog()" />
      <p-button
        pRipple
        label="Guardar"
        severity="contrast"
        icon="pi pi-check"
        [text]="true"
        (click)="saveProduct()" />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }" />
</div>
